body{
    background: darkgray;
    margin: 50px;

}
.image{
    display: grid;
    width: 100px;
    height: 100px;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 40vh;
    width: 40vh;
    margin: auto;
    position: relative;
}
main {
    display: flex;
    flex-direction: row;
}
img {
    line-height: normal;
    left: 10px;
    max-height: 40vh;
    max-width: 40vh;
    min-height: 40vh;
    min-width: 40vh;
}
.grid-item{
    text-decoration-color: burlywood;
    font-family: "Apple LiSung";
    font-size: 80px;
}
h1 {
    color: brown;
    text-align: center;
    padding-bottom: 10px;
    font-size: 60px;
    font-family: "American Typewriter";
    margin: 5px;
}
.scoreboard{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    position: relative;
    font-size: 40px;
    align-items: baseline;
}
h2{
    font-size: 30px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 20px;
    margin: 5px;
    font-family: "Apple LiSung";
}
#reset
{
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    outline: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    width: 150px;
    height: 80px;
}
.score{
    display: block;
    text-align: left;
    font-family: "American Typewriter";
    justify-content: start;
    padding: 10px;
    height: 80px;
}
.score p, .score label {
    margin: 10px;
}

@media only screen and (max-width:800px) {
    /* For tablets: */
    .main {
        flex-wrap: wrap;
        padding: 0;
    }
}
@media only screen and (max-width:500px) {
    /* For mobile phones: */
    .main {
        flex-wrap: wrap;
    }
    .image:first-child { flex-basis: 100%; }
}

